body{
	background: #f4f4f4;
	color: #555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;

	line-height: 1.6em;
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: red;
}

.container{
	width: 80%;
	margin: auto;
	background-color: white;
}

.box-1{
	background-color: #333;
	color: #fff;

	border: 5px red solid;
	padding: 20px;
	margin: 10px;
}

.box-1 h1{
	font: Tahoma;
	font-weight: 1000;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box-2{
	background-color: #333;
	color: #fff;

	border: 5px;
	padding: 20px;
	margin: 10px 0px;
}

.categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
}

.categories ul{
	padding: 0px;
	list-style: none;
}

.categories li{
	padding: 1px;
	border-bottom: 1px dotted #ccc;
}